body {
    background-color: #a4ffe1;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    color: orange;
    text-align: center;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: right;
    margin-top: auto;
    color: orange;
}

header h1 {
    font-family: papyrus;
    width: 50%;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    text-shadow: 4px 2px 2px lightgrey;
}

.container {
    width: 80%;
    margin: auto;
    background: #FFF;
    min-height: calc(100vh - 20px);
    padding: 0.5rem;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

header img {
    width: 20%;
    min-width: 100px;
    display: block;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
}

nav li, #contact-form input[type="submit"] {
    margin-right: 0;
    border: 2px outset lightgrey;
    font-size: 1.25rem;
    margin: 0.25rem;
    font-family: papyrus;
    font-weight: bold;
    background-color: lightgrey
}

nav li a {
    color: black;
    text-decoration: none;
    text-underline-offset: 2px;
    display: block;
    padding: 0.5rem;
}

nav li:active, #contact-form input[type="submit"]:active {
    border: inset 2px lightgrey;
    background-color: orange;
}

a:hover {
    text-decoration: underline;
}

figure img {
    width: 100%;
    margin: auto;
    border: 2px inset lightgrey;
}

.active-link {
    text-decoration: underline;
}

.product {
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
    padding: 1rem;
}

.product img {
    max-height: 200px;
    margin-left: 1rem;
}

.product h3 {
    margin-top: 0;
    color: #000;
}

.product div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product .price {
    color: orange;
    font-size: 1.8rem;
    font-weight: bold;
    align-self: flex-end;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.col-50 {
    width: 45%;
    padding: 10px;
}

.col-100 {
    width: 90%;
    padding: 10px;
}

.border-right {
    border-right: 1px solid#9a9a9a;
}

.x-divider {
    display: block;
    height: 0px;
    border-top: 1px solid #9a9a9a;
    border-bottom: 1px solid #fff;
}

.flex-col-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.quiz-multi-choice {
    list-style: none;
    padding-left: 0.25rem;
}

#quiz-container li {
    margin-bottom: 1rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
}

#contact-form input, #contact-form textarea {
    margin-bottom: 1rem;
}

#contact-form input[type="submit"] {
    align-self: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

#contact-form p {
    text-align: center;
}

/* Mobile */
@media (max-width: 587px) {
    .container {
        width: 95%;
        margin: auto;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header h1 {
        font-size: 1.5rem;
    }
    .col-50 {
        width: 100%;
    }
    .border-right {
        border-right: none;
    }

    .product {
        flex-direction: column-reverse;
        align-items: center;
    }

    .product h3 {
        text-align: center;
        margin-top: 1rem;
    }

    .product img {
        max-height: 100px;
    }

    #contact-form {
        max-width: 100%;
        margin: 0;
    }
}

